.langLogo {
  max-width: 112px;
  height: auto;
  object-fit: cover;
  transition: transform 0.5s ease;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.langLogo:hover {
  transform: scale(1.1);
}

.gridResponsive {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(112px, 1fr));
  margin: 30px auto;
  gap: 5rem;
  width: 80%;
}

@media only screen and (max-width: 640px) {
  .gridResponsive {
    width: 100%;
    gap: 2rem;
    grid-template-columns: repeat(3, 1fr);
  }

  .langLogo {
    max-width: 80px;
  }
}
