.logo {
  font-size: 3rem;
  color: #b74b4b;
  font-weight: 800;
  cursor: pointer;
  transition: 0.5s ease;
}

.logo:hover {
  transform: scale(1.1);
}

.menu {
  display: flex;
  justify-content: right;
  gap: 1.6rem;
}

.menu a {
  font-size: 1.8rem;
  color: white;
  margin-left: 4rem;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s ease;
  border-bottom: 3px solid transparent;
}
.menu a:hover,
.menu a.active {
  color: #b74b4b;
  border-bottom: 3px solid #b74b4b;
}
