.content {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 10rem 3.2rem;
}

.container {
  display: flex;
  align-self: self-start;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 5rem 9% 5rem;
}

@media (max-width: 640px) {
  .container {
    padding: 0;
  }
}
