.content {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 10rem 3.2rem;
}

.container {
  display: flex;
  align-self: self-start;
  justify-content: center;
  min-height: 100vh;
  margin-top: 3rem;
  padding-inline: 15rem;
}

@media (max-width: 640px) {
  .container {
    padding: 0;
    align-items: center;
    margin-top: 0;
  }
}
