.title {
  display: flex;
  justify-content: center;
  font-size: 3.2rem;
  font-weight: 300;
  margin-bottom: 4rem;
}

.icon {
  width: 64px;
  height: auto;
  color: #b74b4b;
}

@media only screen and (max-width: 640px) {
  .title {
    font-size: 2.4rem;
  }
}
